<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
<div class="layui-card">
    <div class="layui-card-header timo-card-header">
        <span><i class="fa fa-bars"></i> 新时代文明文件上传系统管理</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row timo-card-screen">
            <div class="pull-left layui-form-pane timo-search-box">
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block timo-search-status">
                        <select class="timo-search-select" name="status" mo:dict="SEARCH_STATUS"
                                mo-selected="${param.status}"></select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" th:value="${param.title}" placeholder="请输入标题" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn timo-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="pull-right screen-btn-group">
                <button class="layui-btn open-popup" data-title="添加新时代文明文件上传系统" th:attr="data-url=@{/xsdwm/wjsc/add}"
                        data-size="auto">
                    <i class="fa fa-plus"></i> 添加
                </button>
                <div class="btn-group">
                    <button class="layui-btn">操作<span class="caret"></span></button>
                    <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        <dd><a class="ajax-status" th:href="@{/xsdwm/wjsc/status/ok}">启用</a></dd>
                        <dd><a class="ajax-status" th:href="@{/xsdwm/wjsc/status/freezed}">冻结</a></dd>
                        <dd><a class="ajax-status" th:href="@{/xsdwm/wjsc/status/delete}">删除</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <!--                        <th>主键ID</th>-->
                    <th>标题</th>
                    <!--                        <th>内容</th>-->
                    <th>任务截至时间</th>
                    <th>单位名</th>
                    <th>文件</th>
                    <th>提交时间</th>
                    <th>状态</th>
                    <!--                        <th>创建时间</th>-->
                    <!--                        <th>更新时间</th>-->
                    <!--                        <th>数据状态</th>-->
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <!--                        <td th:text="${item.id}">主键ID</td>-->
                    <td th:text="${item.task.title}">标题</td>
                    <td th:text="${item.task.endTime}">任务截至时间</td>
                    <td th:text="${item.liable.nickname}">单位名</td>
                    <td><a th:href="${item.fileUrl}" target="_blank">[[${item?.fileName}]]</a></td>
                    <td th:text="${item.submitDate}">提交时间</td>
                    <td th:text="${item.dataState}">状态</td>
                    <td>
                        <!--                            <a class="open-popup" data-title="编辑新时代文明文件上传系统" th:attr="data-url=@{'/xsdwm/wjsc/edit/'+${item.id}}" data-size="auto" href="#">编辑</a>-->
                        <!--                            <a class="ajax-get" data-msg="您是否确认删除" th:href="@{/xsdwm/wjsc/status/delete(ids=${item.id})}">删除</a>-->
                        <span th:if="${!isBureauLeaders}">
                            <a class="open-popup" data-title="详细信息"
                               th:attr="data-url=@{'/xsdwm/wjsc/wbdetail/'+${item.id}}" data-size="800,600"
                               href="#">详细</a>
                            <a th:if="${item.dataState}=='待上传'">
                            <a class="open-popup" data-title="文件上传"
                               th:attr="data-url=@{'/xsdwm/wjsc/fileupload/'+${item.id}}" data-size="auto"
                               href="#">文件上传</a>
                            </a>
                            <a th:if="${item.dataState}=='待提交'">
                                <a class="open-popup" data-title="文件上传"
                                   th:attr="data-url=@{'/xsdwm/wjsc/fileupload/'+${item.id}}" data-size="auto" href="#">文件重新上传</a>
                                <a class="ajax-get" data-msg="您是否确认提交"
                                   th:href="@{/xsdwm/wjsc/fileSubmit(ids=${item.id})}">提交</a>
                            </a>

                             <a th:if="${item.dataState}=='审批不通过'">
                                <a class="open-popup" data-title="文件上传"
                                   th:attr="data-url=@{'/xsdwm/wjsc/fileupload/'+${item.id}}" data-size="auto" href="#">文件重新上传</a>
                                <a class="ajax-get" data-msg="您是否确认提交"
                                   th:href="@{/xsdwm/wjsc/fileSubmit(ids=${item.id})}">提交</a>
                            </a>
                            </span>
                        <span th:if="${isBureauLeaders}">
                            <a class="open-popup" data-title="详细信息"
                               th:attr="data-url=@{'/xsdwm/wjsc/wbdetail/'+${item.id}}" data-size="800,600"
                               href="#">详细</a>
                            <a th:if="${item.dataState}=='待审批'">
                                  <a class="open-popup" data-title="=审核"
                                     th:attr="data-url=@{'/xsdwm/wjsc/review/'+${item.id}}" data-size="800,600"
                                     href="#">审批</a>
                            </a>
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>