<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>标题</th>
                    <td th:text="${wjscBranch.task.title}"  colspan="5"></td>
                </tr>
                <tr>
                    <th>所选任务</th>
                    <td  colspan="5">
                        <div th:text="${wjscBranch.task.material.parent.parent.parent.name}+'------>'+${wjscBranch.task.material.parent.parent.name}+'------>'+${wjscBranch.task.material.parent.name}+'------>'+${wjscBranch.task.material.name}"></div>
                </tr>
                <tr>
                    <th>需提供的材料</th>
                    <td th:text="${wjscBranch.task.material.content}" colspan="5"></td>
                </tr>
                <tr>
                    <th>任务截至时间</th>
                    <td th:text="${wjscBranch.task.endTime}"colspan="3"></td>
                </tr>
                <tr>
                    <th>内容</th>
                    <td th:text="${wjscBranch.task.content}" colspan="3"></td>
                </tr>
                <tr>
                    <th>文件</th>
<!--                    <td th:text="${wjscBranch.fileName}" colspan="3"></td>-->
                    <td colspan="3"><a th:href="${wjscBranch.fileUrl}" target="_blank">[[${wjscBranch?.fileName}]]</a></td>
                </tr>
                <tr>
                    <th>审核意见</th>
                    <td th:text="${wjscBranch.opinion}" colspan="3"></td>
                </tr>
                <tr>
                    <th>提交时间</th>
                    <td th:text="${wjscBranch.submitDate}" colspan="3"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${wjscBranch.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${wjscBranch.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(wjscBranch.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(wjscBranch.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>